{% extends "./base.html" %}

{% block title %} Dispensario Medico {% endblock %}


{% block body %}

        <div class="col-md-5">
            <h2>Editando Tipo Farmaco</h2>
            <div class="card">
              <div class="card-body">
                  <form action="/editarTipoFarmaco/" method="POST" enctype="multipart/form-data">{% csrf_token %}

                      <div class="form-group">
                          <label for="">ID:</label>
                          <input type="text"
                                 name="txtIdTipoFarmaco"
                                 value="{{tipoFarmaco.idtipofarmaco }}"
                                 class="form-control"
                                 placeholder="ID"
                                 readonly>
                      </div>

                      <br>
                      <div class="form-group">
                          <label for="">Descripción:</label>
                          <input type="text"
                                 name="txtDescripcionTipoFarmaco"
                                 value="{{tipoFarmaco.descripcion}}"
                                 class="form-control"
                                 placeholder="Descripcion"
                                 minlength="1"
                                 maxlength="500"
                                 required>
                      </div>
                      <br>
                      <div class="form-group" style="margin-left: 0.4rem">
                          <div class="form-check">
                              <input class="form-check-input"
                                      type="checkbox"
                                      name="txtEstadoTipoFarmaco"
                                      id="txtEstadoTipoFarmacos"
                                      {% if tipoFarmaco.estado == 1 %}checked{% endif %}>
                              <label class="form-check-label" for="gridCheck">Estado</label>
                          </div>

                      </div>
                      <br>
                      <div class="form-group">
                          <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                      </div>

                  </form>

              </div>
          </div>


        </div>



{% endblock body %}





