{% extends "./base.html" %}

{% block title %} Dispensario Medico {% endblock %}


{% block body %}

    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2>Editando Marca</h2>
            <div class="card">
              <div class="card-body">
                  <form action="/editarMarcas/" method="POST" enctype="multipart/form-data">{% csrf_token %}

                      <div class="form-group">
                          <label for="">ID:</label>
                          <input type="text"
                                 name="txtIdmarca"
                                 value="{{marca.idmarca }}"
                                 class="form-control"
                                 placeholder="ID"
                                 readonly>
                      </div>


                      <div class="form-group">
                          <label for="">Descripción:</label>
                          <input type="text"
                                 name="txtdescripcionMarca"
                                 value="{{marca.descripcion}}"
                                 class="form-control"
                                 placeholder="Descripcion"
                                 minlength="1"
                                 maxlength="500"
                                 required>
                      </div>

                      <div class="form-group" style="margin-left: 0.4rem">
                          <div class="form-check">
                              <input class="form-check-input"
                                      type="checkbox"
                                      name="txtEstadoMarcas"
                                      id="txtEstadoMarcas"
                                      {% if marca.estado == 1 %}checked{% endif %}>
                              <label class="form-check-label" for="gridCheck">Estado</label>
                          </div>

                      </div>

                      <div class="form-group">
                          <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                      </div>

                  </form>

              </div>
          </div>


        </div>

    </div>

{% endblock body %}





