{% extends "./base.html" %}

{% block title %}Dispensario Médico{% endblock %}
{% block navegacion %}Visitas{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
            <h4>Gestión de Visitas</h4>
            <div class="card">
                <div class="card-body">
                    <form action="/registrarVisita/" method="post">{% csrf_token %}
                        <div class="form-group mb-3">

                            <div class="form-group mb-3">
                                <label for="txtidMedico">Medicos:</label>
                                <select class="form-select"
                                        name="txtidMedico"
                                        id="txtidMedico">
                                    <option selected>--Seleccionar--</option>
                                    {% for medico in medicos %}
                                        <option value="{{ medico.idmedico  }}">{{ medico.nombre  }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="form-group mb-3">
                                <label for="txtidPaciente">Paciente:</label>
                                <select class="form-select"
                                        name="txtidPaciente"
                                        id="txtidPaciente">
                                    <option selected>--Seleccionar--</option>
                                    {% for paciente in pacientes %}
                                        <option value="{{ paciente.idPaciente  }}">{{ paciente.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        <div class="form-group mb-3">
                         <label for="txtfechavisita">Fecha Visita:</label>
                            <input type="date"
                                   name="txtfechavisita"
                                   id="txtfechavisita"
                                   class="form-control"
                                   placeholder="Nombre"
                                   required>
                        </div>

                        <label for="txthoravisita">Hora Visita:</label>
                            <input type="time"
                                   name="txthoravisita"
                                   id="txthoravisita"
                                   class="form-control"
                                   placeholder="Hora Visita"
                                   required>
                        </div>

                        <div class="form-group mb-3">
                            <label for="txtdescripcionMedicamento">Medicamentos:</label>
                            <select class="form-select"
                                    name="txtdescripcionMedicamento"
                                    id="txtdescripcionMedicamento">
                                <option selected>--Seleccionar--</option>
                                {% for medicamento in medicamentos %}
                                    <option value="{{ medicamento.descripcion  }}">{{ medicamento.descripcion  }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label for="txtRecomendacionVisita">Recomiendaciones:</label>
                            <input type="text"
                                   name="txtRecomendacionVisita"
                                   id="txtRecomendacionVisita"
                                   class="form-control"
                                   placeholder="Recomendaciones"
                                   minlength="1"
                                   maxlength="15"
                                   required>
                        </div>

                    
                        <div class="form-check mb-3">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="txtEstadoVisita"
                                   id="txtEstadoVisita"
                                   required>
                            <label class="form-check-label" for="txtEstadoVisita">Estado</label>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success text-white">Guardar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h3>Listado de Visitas</h3>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>IdMedico</th>
                            <th>IdPaciente</th>
                            <th>Fecha Visita</th>
                            <th>Hora Visita</th>
                            <th>Medicamentos Subministrado</th>
                            <th>Recomendaciones</th>
                            <th>Estado</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for visita in visitas %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ visita.idvisitas }}</td>
                                <td>{{ visita.idmedico }}</td>
                                <td>{{ visita.idPaciente }}</td>
                                <td>{{ visita.fechavisita|date:"d/m/y" }}</td>
                                <td>{{ visita.horavisita }}</td>
                                <td>{{ visita.medicamentossuministrado }}</td>
                                <td>{{ visita.recomendaciones }}</td>

                                <td>
                                    {% if visita.estado == 1 %}
                                        <i class="fa-solid fa-circle-check text-success"></i>
                                    {% else %}
                                        <i class="fa-regular fa-circle-check text-muted"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="edicionPaciente/{{ paciente.idPaciente }}" class="btn btn-info btn-sm">Editar</a>
                                </td>
                                <td>
                                    <a href="eliminarVisita/{{ visita.idvisitas }}" class="btn btn-danger btn-sm btnEliminacion">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}