{% extends "./base.html" %}

{% block title %}Dispensario Médico{% endblock %}
{% block navegacion %}Tipos de Fármacos{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mb-4">
            <h4>Gestión de Tipos de Fármacos</h4>
            <div class="card">
                <div class="card-body">
                    <form action="/registrarTipoFarmaco/" method="post">{% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="txtDescripcionTipoFarmaco">Descripción:</label>
                            <input type="text"
                                   name="txtDescripcionTipoFarmaco"
                                   id="txtDescripcionTipoFarmaco"
                                   class="form-control"
                                   placeholder="Descripción"
                                   minlength="1"
                                   maxlength="500"
                                   required>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input"
                                   type="checkbox"
                                   name="txtEstadoTipoFarmaco"
                                   id="txtEstadoTipoFarmaco"
                                   required>
                            <label class="form-check-label" for="txtEstadoTipoFarmaco">Estado</label>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h3>Listado de Tipos de Fármacos</h3>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ID</th>
                            <th>Descripción</th>
                            <th>Estado</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipofarmaco in tipoFarmacos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ tipofarmaco.idtipofarmaco }}</td>
                                <td>{{ tipofarmaco.descripcion }}</td>
                                <td>
                                    {% if tipofarmaco.estado == 1 %}
                                        <i class="fa-solid fa-circle-check text-success"></i>
                                    {% else %}
                                        <i class="fa-regular fa-circle-check text-muted"></i>
                                    {% endif %}
                                </td>
                                <td><a href="edicionTipoFarmaco/{{ tipofarmaco.idtipofarmaco }}" class="btn btn-info btn-sm">Editar</a></td>
                                <td><a href="eliminarTipoFarmaco/{{ tipofarmaco.idtipofarmaco }}" class="btn btn-danger btn-sm btnEliminacion">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
